<section class="mx-10 px-10 border-t-2 py-2 flex flex-cols justify-between items-center bg-white">

<article class="ml-10">
<a href="{{path('app_main')}}">
<img src="{{asset('images/logo.png')}}" class="h-12" alt="logo afpa" loading="lazy">
</a>
</article>

<article>
     <ul>
        <li><a href="https://www.afpa.fr/" class="hover:text-[#0b9c9f]">Afpa</a></li>
        <li><a href="https://www.instagram.com/afpa_formation/?hl=fr" class="hover:text-[#0b9c9f]">Afpa Châtellerault</a></li>
        <li><a href="https://www.ville-chatellerault.fr/" class="hover:text-[#0b9c9f]">Ville de Châtellerault</a></li>
    </ul>
</article>

</section>